<section style="position: absolute;
width: 100%;
height:100%;
left: 0px;
top: 56px;


background: #C4C4C4;">
  <section style="background: white;width: 100%;height: 100%;margin-left: 0;margin-right: 0;" class="row text-center" >
    <div class="col-md-6">
      <img  style="width: 80%" src='./assets/admin.png' alt="admin">

    </div>
    <div>
       <p style="font-size: 1.6em; padding: 170px 0 40px 0;"> <span>As an admin you can add,delete,update any product</span>
         <br><span>You can also buy products and add them to your cart</span>
      </p>
      <button class="btn  loginBtn" style="padding: 16px 45px; " routerLink="/catalog">Continue</button>

    </div>



</section>





</section>
